# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json
_pdf_tmp/
_make_previews.py
_fix_previews.py
data/scholar_debug.html

